---
layout: page
title: Publications
permalink: /publications/
---

<div class="publications">
  <h1>Publications</h1>
  
  {% raw %}{% assign pubs = site.data.publications.publications %}
  
  <p class="last-updated">
    Last updated: {{ site.data.publications.last_updated | date: "%B %d, %Y" }}
  </p>

  {% for pub in pubs %}
    <div class="publication-item">
      <h3>{{ pub.title }}</h3>
      <p class="authors">
        {{ pub.authors | join: ", " }}
      </p>
      <p class="venue-year">
        {{ pub.venue }} ({{ pub.year }})
      </p>
      {% if pub.citations %}
        <p class="citations">
          Citations: {{ pub.citations }}
        </p>
      {% endif %}
      {% if pub.url %}
        <a href="{{ pub.url }}" target="_blank" class="paper-link">
          View Paper
        </a>
      {% endif %}
    </div>
  {% endfor %}{% endraw %}
</div> 